@import '~styles/vars';
@import '~styles/extendables';

.header {
  @extend %center-x-y;
  position: relative;
  display: flex;
  padding: 0 $space-md $space-sm;
  margin-top: $toolbar-height;
  z-index: 1;
  justify-content: space-between;

  .btn-user,
  .right {
    .icon {
      color: $color-text-primary;
      filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
    }
  }

  .btn-user {
    .icon {
      font-size: 35px;
    }

    img {
      width: 35px;
      border-radius: $radius-full;
      border: 2px solid $color-primary;
    }
  }

  .input {
    margin: 0 $space-sm;
  }

  .right {
    display: flex;
    gap: $space-md;

    .icon {
      font-size: 23px;
    }
  }
}

